@import "../../settings/variables";
@import "../../settings/mixins";

.accountsPage {
  background: $gray-silver;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  padding: 10px;

  @include desktop {
    max-width: 1024px;
    margin: 0 auto;
  }

  &_wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
  }
}