@import "../../settings/variables";
@import "../../settings/mixins";

.movementsPage {
  background: $gray-silver;
  padding: 10px;
  border-radius: 8px;

  &_title {
    margin-left: 10px;
  }

  &_wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px 0;
  }
}