@import "../../../settings/variables";
@import "../../../settings/mixins";

.header {
  padding: 10px;
  background-color: $white;
  margin-bottom: 24px;

  &_nav {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    @include desktop {
      width: 1024px;
      text-align: left;
    }
  }

  &_item {
    padding: 6px 10px;
    text-decoration: none;

    &:hover,
    &:visited{
      color: $black;
    }

    &-selected {
      color: $black;
      text-decoration: none;
      border-bottom: 2px solid $primary;
      font-weight: 700;
    }
  }
}