@import "../../../settings/variables";
@import "../../../settings/mixins";

.movement {
  list-style-type: none;
  border: 1px solid $gray-light;
  border-bottom: 0;
  margin: auto;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @include media(tablet, desktop) {
    padding: 10px 30px;
  }

  &:last-of-type {
    border-bottom: 1px solid $gray-light;
  }

  &_head {
    line-height: 15px;
    margin: 0;
    text-transform: uppercase;
    padding: 0 10px;

    @include media(tablet, desktop) {
      padding: 0;
    }
  }

  &_date {
    margin: 0 10px;
    flex-basis: 100%;

    @include media(tablet, desktop) {
      flex-basis: auto;
    }

    &_item {
      margin: 0;
      text-align: center;
      display: inline;
      padding-right: 5px;

      @include media(tablet, desktop) {
        display: block;
        padding-right: 0;
      }

      &-weekDay {
        text-transform: uppercase;
      }
    }
  }

  &_value {
    font-weight: 700;
    line-height: 15px;
    margin-left: auto;
    padding-left: 15px;
    justify-self: flex-end;
    flex-basis: 100%;

    @include media(tablet, desktop) {
      flex-basis: auto;
      padding-left: 0;
    }

    &-credit {
      color: $green;
    }
  }

  &_icon {
    margin-right: 10px;

    &_entry {
      display: none;
      width: 2rem;
      stroke-width: 1.5;

      @include media(tablet, desktop) {
        display: block;
      }
    }

    &-debit {
      transform: scaleX(-1);
    }
  }
}
