$black: #333333;
$ligth-blue: #69b4e0;
$dark-blue: #5f687a;
$green: #00A123;
$white: #FFFFFF;
$gray: #757575;
$gray-secondary: #94BCC3;
$gray-silver: #F6F7FC;
$gray-light: #E2E8EE;
$primary: #EC111A;
$primary-action: #F92D3C;
$secondary: #007EAB;
$red-solid: #cf5f61;
$font-stack: 'Poppins', 'Helvetica Neue', sans-serif;

