@import "../../../settings/variables";
@import "../../../settings/mixins";

.accountList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @include media(tablet, desktop) {
    flex-wrap: wrap;
    justify-content: start;
  }
}