@import "../../../settings/variables";
@import "../../../settings/mixins";

.login {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  &_title {
    text-align: left;
    font-size: 1.6rem;

    &:after {
      content:'';
      margin-top: 10px;
      width: 32px;
      border-bottom: 3px solid $primary;
      display: block;
    }
  }

  &_form {
    width: 100%;
    max-width: 300px;
    flex-direction: column;
  }

  &_button {
    margin: 10px 0;
  }

  &_text {
    font-size: 1rem;

    &-selectable {
      cursor: pointer;
      color: $secondary;

      &:hover{
        text-decoration: underline dotted;
      }
    }
  }
}